[submodule "deps/opencv"]
	path = deps/opencv
	url = https://github.com/opencv/opencv.git
[submodule "deps/opencv_contrib"]
	path = deps/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "deps/libsodium"]
	path = deps/libsodium
	url = https://github.com/jedisct1/libsodium
[submodule "deps/cmocka"]
	path = deps/cmocka
	url = https://git.cryptomilk.org/projects/cmocka.git
[submodule "deps/eigen"]
	path = deps/eigen
	url = https://gitlab.com/libeigen/eigen.git
